<div class="container">

<h2>Skillnaden mellan SPAs och Multi pages?</h2>

<h4>SPAs</h4>
<p>När man installerar Angular innehåller den många funktioner som underlättar funktionaliteten för navigering av webbapplikationer. Man kan återanvända komponenter och finns mer stöd för enklare debugging med plugin eller extenstions man kan installera. Artitekturen av SPAs är att användaren inte omdirigeras till en annan HTML sida, därför kodar man i olika komponenter och implementerar dem där man vill ny information och styling ska visas upp.
</p>
  <p>
  Personligen kan det kännas att det är mycket olika filer, alltså många komponenter att hålla reda på, men det blir ändå lättare när man bara ska koda en del av applikationen, då har den delen en egen fil man går till. När man inte är van vid systemet av Angular blir det lätt att tappa bort sig och blir förvirrad för hur allting ska hänga ihop när man är så van vid traditionella HTML sidor där allting sitter i en fil, fast det jobbiga med det är att man behöver scrolla upp och ner mycket i den filen för att hitta det man behöver.
  </p>

<h4>MPAs</h4>
<p>I multipages kan navigering även ske utan javascript, då byggs den istället utifrån HTML. Detta behöver inte mycket logik, fast det kan ta lite längre tid när man kopierar grund kod som navbar, bakgrund osv. till alla de andra html sidorna.Man kan såklart använda en css fil som delar likadan styling på alla HTML sidor som har samma css selektor, men om man villa göra en smått förändring får man komma ihåg att byta class/id namn eller annars lägga till ett osv.</p>

<p>
  Om man ska utveckla en navigering med javascript blir det att man installerar och använder olika ramverk och/eller bibliotek, det kan även ta längre tid. Men det blir inte svårt eller förvirrande om man vill lägg till en ny sida. Man gör bara en nya HTML sida och lägger in en ”a tagg” i navbaren. I Angular blir det många filer att hålla reda på när man behöver importera alla delar/element för att det ska fungera tycker jag.</p>
</div>
