<div class="container">

<h2>Skillnaden mellan SPAs och Multi pages?</h2>

<p>Generellt är single page applikationer mer eftertraktade än ”traditionella”  alltså mulitpage webb eller app applikationer av hur stilrent det ser ut. Den främsta fördelen som jag nämnt tidigare är att det är möjligt att befinna sig och navigera genom en applikation vid internet uppbrott, detta är möjligt eftersom att det fungerar med ”interface logic”.</p>

    <h4>Om man ska bygga en traditionell webb applikation kan man göra det när;</h4>
    <ul>
        <li>När användar sidans krav är låga och enkla. De flesta webb applikationer är endast läsbara som en blogg eller artikel, dessa läsbara applikationer är mycket enklare att underhålla än de som använder manipulation till en stor del.</li>
        <li> Om applikationen behöver att fungera i webbläsaren utan javascripts stöd, på grund av att javascripten är inte ytterst stödjad i applikationen.</li>
        <li>Och särskilt om teamet på jobbet inte är vana vid javascript eller typescript utvecklar tekniker. Även behöver SPA applikationer mer säkerhet expertis</li>
        <li>men det som är bra med traditionell eller (mulitpage) applikationer är att de fungerar väldigt bra på sök motorn och ger en visuell navigerings karta av applikationen för användaren
        </li>
    </ul>

    <h4>Vid single page applications(SPAs) är det användbart vid;</h4>
    <ul>
        <li>När applikationen är tung med mycket ”user interface” samt flertal funktioner</li>
        <li>Och teamet är faktiskt vana med typescript eller javascript vid utveckling</li>
        <li>Om applikationen måste vara en öppen API för interna eller externa användare </li>
        <li>Det som är lite dåligare med SPAs är att de fungerar sämre på sök motorn och att det finns bara en delningslänk, och inte till en specifik del av applikationen om man så ville.</li>
        <li>De är också mindre säkra om man jämför med mulitpage, därför är det viktigt att man har backup på ett team som är expert inom säkerhet. De är mindre säkra på grund av ”cross-site scripting”</li>
    </ul>
</div>
