<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Mitt Labb</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/angular">Angular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/spa">SPAs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ang-arki">Angular's artitektur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/typescript">Typescript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="spaVsmulti">SPAs vs Multi</a>
          </li>
    </ul>
      </div>
    </div>
  </nav>
