<div class="container">

<h2>Vad är Angular?</h2>

<p>Angular är ett webb ramverk man kan använda för att bygga single page appliktioner, det är baserat på typescript som är ett objekt orienterat språk. Varför många väljer Angular är främst på grund av att dokumentation är tillgänglig samt video tutorials som gör det lättare att använda och förstå ramverket. Ramverket erbjuder även funktionen ”components” som består det mesta av applikationen, det gör det lättare att testa olika delar av applikationen utan att störa de andra delarna, särskilt om man jobbar i ett team där alla kan ha sin egen sektion.
  Men eftersom att Angular är ständigt i process av förbättring levereras därför nya funktioner med uppdateringar och problem som uppstått i ramverket är i underhåll.
  </p>
</div>
