
  <div class="container">
  <div class="my-container1">
    <h2>Min Profil</h2>
  <p>Hej! Jag heter Amalia och har labbat i detta projketet.</p>
  <p>På fritiden tycker jag om att titta film, serier och läsa böcker. Det blir mycket blandat men favoriter är skräck och deckare.</p>
  <p>Annars tycker jag även om att dansa och hänga med familj och vänner.</p>
  Om jag inte gör det kan ni hitta mig alltid i köket där jag bakar kladdkaka :D
  </div>

  <div class="my-container2">
    <img src="assets/img/amalia-profile.jpg">
  </div>
</div>

