<div class="container">

<h2>Vad är Typescript?</h2>

<p>I angular använder man främst typescript  som är ett språk känt för att vara object-oriented-programming språk för att vara exakt . Man behöver inte skriva applikationer med typescript i angular men det finns många fördelar med typescript. Det är bra för stora projekt och hjälper finna error eller misstag tidigt i systemet som hjälper javascripten att fungera mer effektivt, på grund av att det blir lättare att debugga och det sparar mycket tid för utvecklarna. Det är även starkt rekommenderat eftersom att det är lättläsligt även fast det är som ett ”super-set” av javascript då det erbjuder ytterliggare funktioner.
    Men det bästa med typescript gällande angular är att det stödjer moduler, därför används det i angular.
    </p>
</div>
